.devise { 
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  
  .row {
    width: 100%;
    @media (min-width: 576px) and (max-width: 991px) {
      > div {
        grid-column: 2/span 10 !important;
      }
    }
    @media (min-width: 992px) {
      > div {
        grid-column: 4/span 6 !important;
      }
    }
  }
}